/*顶部导航栏动画*/
.nav5 ul > li:hover ul {
	max-height: 1000px;
	-webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}
.nav5 li ul {
	position: absolute;
	left: 0;
	top: 60px;
	z-index: 1;
	max-height: 0;
	overflow: hidden;
	-webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
	-webkit-transform-origin: 50% 0;
	-webkit-transition: 350ms;
	-moz-transition: 350ms;
	-o-transition: 350ms;
	transition: 350ms;
}

/*页面初始化标题栏动画*/
@keyframes titleAni{
	from {
		opacity:0;
		top:-50px;
	}
	to {
		opacity:0.9;
		top:0px;
	}
}

@keyframes listAni{
	from {
		opacity:0.1;
		left:50px;
	}
	to {
		opacity:0.9;
		left:0px;
	}
}
